# Node & Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables
.env
.env.local

# Build outputs
dist/
build/

# IDE & OS Files
.vscode/
.idea/
.DS_Store

# Android/Java specific
*.apk
*.aab
*.keystore
local.properties
.gradle/
app/build/
